@model HMS.Areas.Dashboard.ViewModels.AccomodationActionModel

@if (Model != null)
{

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @if (Model.ID > 0)
                {
                    <span>Edit Accomodation </span>
                }
                else
                {
                    <span>Create Accomodation </span>
                }
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <form id="actionForm">
                <input type="hidden" name="ID" value="@Model.ID" />
                <div class="form-group">
                    <label>Accomodation Package</label>
                    <select class="form-control" name="AccomodationPackageID">
                        @if (Model.AccomodationPackages != null)
                        {
                            foreach (var accomodationPackage in Model.AccomodationPackages)
                            {
                                <option value="@accomodationPackage.ID" @(accomodationPackage.ID == Model.AccomodationPackageID ? "Selected" : string.Empty)>
                                    @accomodationPackage.Name
                                </option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" name="Name" placeholder="Enter Accomodation Name" value="@Model.Name">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <input class="form-control" name="Description" placeholder="Enter Accomodation Description" value="@Model.Description">
                </div>

                <div class="form-group">
                    <label>Pictures</label>
                    <input id="selectPictures" class="form-control" name="Pictures" type="file" multiple>
                    <input type="hidden" name="pictureIDs" id="pictureIDs" value="" />
                </div>

                <div id="picturesArea">
                    @if (Model.AccomodationPictures != null && Model.AccomodationPictures.Count > 0)
                    {
                        foreach (var accomodationPicture in Model.AccomodationPictures)
                        {
                            <img src="/images/site/@accomodationPicture.Picture.URL" class="img-fluid" style="width:200px" onclick="removeMe(this)" data-id="@accomodationPicture.PictureID" />
                        }
                    }
                </div>

            </form>

            <div class="errordiv">

            </div>


        </div>
        <div class="modal-footer">
            <button id="actionButton" class="btn btn-primary"><i class="fas fa-save mr-1"></i>Save</button>

            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-1"></i>Close</button>
        </div>
    </div>
}



<div id="imageTemplate">
    <img src="" class="img-fluid" style="width:200px" onclick="removeMe(this)" />
</div>


<script>
    $("#actionButton").click(function () {

         var pictureIDs = [];
        $("#picturesArea img").each(function () {
            var picID = $(this).attr("data-id");

            pictureIDs.push(picID);
        });

        $("#pictureIDs").val(pictureIDs.join());
        debugger;

        $.ajax({
            url: '@Url.Action("Action","Accomodation")',
            type: 'post',
            data: $("#actionForm").serialize()

        })
            .done(function (response) {
                if (response.Success) {
                    location.reload();
                }
                else {

                    $(".errordiv").html(response.Message);
                }
            });
    });




   //upload picture
    $("#selectPictures").change(function () {

        var pictures = this.files;

        var formData = new FormData();

        for (var i = 0; i < pictures.length; i++) {
            formData.append("Picture", pictures[i]);
        }

		$.ajax({
			url: '@Url.Action("UploadPictures", "Dashboard")',
            type: "post",
            data: formData,
            processData: false,
			contentType: false
		})
        .done(function (response) {
            debugger;
            for (var i = 0; i < response.length; i++) {
                var picture = response[i];

                var $imgHTML = $("#imageTemplate").clone();

                $imgHTML.find("img").attr("src", "/images/site/" + picture.URL);
                $imgHTML.find("img").attr("data-id", picture.ID);

                $("#picturesArea").append($imgHTML.html());
            }
		});
    });

    function removeMe(element) {
        element.remove();
    }
</script>